@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:m-0 {
    margin: 0 !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .print\:p-6 {
    padding: 1.5rem !important;
  }

  @page {
    margin: 0.2in;
    size: A4;
  }
}
